body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #fff;
    color: #000;
}

.registration-container {
    margin: 10% auto;
    max-width: 600px;
    padding: 40px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.registration-container h2 {
    text-align: center;
    color: #333;
}

.registration-form input {
    width: 100%;
    margin-bottom: 3%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-control {
    margin-top: 3%;
    margin-bottom: 5%;
}

.registration-form button {
    /*width: 100%;*/
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.registration-form button:hover {
    background-color: #0056b3;
}
