.mt-5 {
    max-width: 80%;
    display: flex;
    flex-direction: row
}

.col-md-3 {
    margin-top: -15px;
}

.badge {
    font-size: 1em;
}

.comments-container {
    max-width: 58%;
    margin-left: 11%;
    margin-bottom: 5%;
    margin-top: 3%;
    border: 1px solid #ccc;
    padding-top: 15px;
    border-radius: 5px;
}

.comments {
    text-align: left;
    margin-top: 15px;
    margin-left: 10px;
    margin-right: 10px;
}

.media {
    border: 1px solid #e0e0e0;
    padding: 10px;
    border-radius: 5px;
    text-align: left;
    margin-bottom: 15px;
}

.avatar {
    width: 50px;
    height: 50px;
}

.commentSign {
    margin-left: 10px;
    font-size: 25px;
}
