<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project Details</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/general.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/header.css">
</head>
<body>
<header>
    <div class="header-left">
        <img src="/images/mainLogo.png" alt="Logo">
        <h1>ProJectPlanner</h1>
    </div>
    <nav>
        <a href="/home">Home</a>
        <a href="/projects">Back</a>
        <a href="/myAccount">My account</a>
        <a href="/about">About</a>
        <a sec:authorize="hasRole('ROLE_ADMIN')" href="/admin">Admin</a>
    </nav>
    <form class="header-right" th:action="@{/logout}" method="post">
        <button sec:authorize="isAuthenticated()" class="logout-button" type="submit">Logout</button>
    </form>
</header>

<div class="container mt-5">
    <div class="card">
        <div class="card-body">
            <h2 class="card-title" th:text="${project.name}"></h2>
            <p class="card-text">ID: <span th:text="${project.id}"></span></p>
            <p class="card-text">Created at: <span th:text="${project.createdAt}"></span></p>
            <p class="card-text">Product: <span th:text="${project.product.name}"></span></p>
            <!-- Дополнительная информация о проекте -->
        </div>
    </div>
</div>

<footer class="mt-5">
    <div class="container">
        <p>&copy; Klim Menkov 2024 ProJectPlanner. All rights reserved.</p>
    </div>
</footer>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
